<div id='panes-content'>
  <div id='panes'>
    <div id='left-pane'>
      <div class='tab-pane flex-pane' id='code_pane'>
        <ul>
          <li><a href='#code_holder'><%= t('marker.source_code') %></a></li>
          <li><a href='#annotations_summary'><%= Annotation.model_name.human.pluralize %></a></li>
          <% if assignment.enable_test %>
              <li><a href='#test_result_tab'><%= t('marker.test_results') %></a></li>
          <% end %>
          <% if can_show_feedback_files_tab?(submission) %>
            <li><a href='#feedback_file_tab'><%= t('marker.feedback_files') %></a></li>
          <% end %>
          <% if can_show_remark_request_tab_in_student_pane(assignment, @current_user, submission, result) %>
            <li><a href='#remark_request_tab'><%= t('marker.remark_request') %></a></li>
          <% end %>
        </ul>

        <div id='code_holder' class='flex-col'>
          <%# For image/PDF annotations %>
          <div id='sel_box'></div>

          <div id='file_selector_menu'>

            <%= render partial: 'results/common/file_selector_dropdown',
                       locals: { files: files,
                                 can_download: true } %>
          </div>

          <div id='codeviewer' class='flex-col'></div>
        </div>

        <div id='annotations_summary' class='flex-col'>
          <div id='annotations_summary_head'>
            <h3><%= t('marker.overall_comments') %></h3>

            <% comment = ( old_result ? old_result.overall_comment : result.overall_comment )%>
            <p><%= markdown(comment) %></p>

            <h3><%= Annotation.model_name.human.pluralize %></h3>
          </div>

          <ul id='annotation_table'></ul>
        </div>

        <% if assignment.enable_test %>
          <div id='test_result_tab' style='display:none;'>
            <div id='testviewer' class='block'>
              <%= render partial: 'automated_tests/test_script_results',
                         locals: {results: submission.test_script_results, submission: submission,
                                  current_user: @current_user, ran_by: 'instructor'} %>
            </div>
          </div>
        <% end %>

        <% if can_show_feedback_files_tab?(submission) %>
          <div id='feedback_file_tab' style='display:none;'>

            <div id='feedback_file_selector_menu'>
              <div id='feedback_files_controls'>
                <%= render partial: 'results/common/feedback_file_selector',
                           locals: { feedback_files: feedback_files,
                                     submission_id: submission.id } %>
              </div>
            </div>

            <div id='feedback_file_content'>
            </div>
          </div>
        <% end %>

        <% if can_show_remark_request_tab_in_student_pane(assignment, @current_user, submission, result) %>
          <div id='remark_request_tab'>
            <% if @current_user.student? and assignment.allow_remarks%>
              <%= render partial: 'results/student/remark_request',
                         locals: { old_result: old_result,
                                   result: result,
                                   submission: submission,
                                   assignment: assignment } %>
            <% elsif submission.has_remark? %>
              <%= render partial: 'results/marker/remark_request',
                         locals: { result: result,
                                   submission: submission,
                                   assignment: assignment } %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div id='drag'></div>

    <div id='right-pane'>
      <div class='tab-pane flex-pane' id='mark_pane'>
        <ul>
          <li><a href='#mark_viewer'><%= t('marker.marks.marks') %></a></li>
          <li><a href='#summary_viewer'><%= t('marker.marks.summary') %></a></li>
        </ul>

        <div id='mark_viewer' class='flex-col'>
          <div id='mark_criteria_pane'>
            <ul id='mark_criteria_pane_list'>
              <%# Also need to render the mark per criteria (if exist) %>
              <% @mark_criteria.each do |mark_criterion| -%>
                <%= render partial: "results/student/student_#{mark_criterion.class.to_s.underscore}_li",
                           locals: { mark_criterion: mark_criterion,
                                     result: result,
                                     mark: marks_map[[mark_criterion.class.to_s, mark_criterion.id]],
                                     old_mark: old_marks_map[[mark_criterion.class.to_s, mark_criterion.id]] } %>
              <% end -%>
            </ul>
          </div>
        </div>

        <div id='summary_viewer' class='marks_summary_pane tabbedArea flex-col'>
          <%= render partial: 'results/student/student_summary',
                     locals: { mark_criteria: @mark_criteria,
                               marks_map: marks_map,
                               old_marks_map: old_marks_map,
                               assignment: assignment,
                               result: result,
                               old_result: old_result,
                               extra_marks_points: extra_marks_points,
                               extra_marks_percentage: extra_marks_percentage } %>
        </div>

        <div id='annotation_holder'></div>
      </div>
    </div>
  </div>
</div>
