<%# Render the source code for syntax highlighting... %>
if (document.getElementById('code_pane')) {
  document.getElementById('code_pane').onmousemove = null;
}
if (document.getElementById('codeviewer')) {
  document.getElementById('codeviewer').onmousemove = null;
}

<%# Non-binary files %>
<% if !SubmissionFile.is_binary?(@file_contents) %>
  <% begin %>
    <% @file_contents = @file_contents.utf8_encode(Encoding::UTF_8) %>
  <% rescue Encoding::InvalidByteSequenceError, Encoding::UndefinedConversionError %>
    <% @file_contents = @file_contents.utf8_encode(Encoding::ISO_8859_1) %>
  <% end %>
  $('#codeviewer').html(
    "<%= escape_javascript(render partial: 'results/common/text_codeviewer',
                                  locals: { uid: params[:uid],
                                            file_contents: @file_contents,
                                            annots: @annots,
                                            code_type: @code_type }) %>");
<%# Supported image files %>
<% elsif @file.is_supported_image? %>
  $('#codeviewer').html(
    "<%= escape_javascript(render partial: 'results/common/image_codeviewer',
                                  locals: { uid: params[:uid],
                                            file_contents: @file_contents,
                                            annots: @annots,
                                            code_type: @code_type,
                                            submission_file_id: @submission_file_id }) %>");
<%# PDF files %>
<% elsif @file.is_pdf? %>
  $('#codeviewer').html(
    "<%= escape_javascript(render partial: 'results/common/pdf_codeviewer',
                                  locals: { uid: params[:uid],
                                            annots: @annots,
                                            submission_file_id: @submission_file_id }) %>");

  function loadPdfFile() {
    PDFView.onLoadComplete = function() {
      window.source_code_ready_for_pdf(PDFView, 'viewer');

      <% if (defined? @annots) %>
      <% @annots.each do |annot| %>
      add_pdf_annotation('<%= annot.annotation_text.id %>',
                         '<%= escape_javascript(markdown(annot.annotation_text.html_content)) %>',
                         '<%= annot.extract_coords.to_json().html_safe %>');
      <% end %>
      <% end %>
    };

    <% if @current_user.student? %>
    webViewerLoad("<%= download_assignment_results_path(select_file_id: @submission_file_id,
                                                          id: @result.id,
                                                          show_in_browser: true ) %>"); // PDF
    <% else %>
    webViewerLoad("<%= download_assignment_submission_results_path(select_file_id: @submission_file_id,
                                                                     show_in_browser: true ) %>"); // PDF
    <% end %>
  }

  // Load pdfjs if this is the first PDF file viewed.
  if (typeof(PDFView) === 'undefined') {
    $.getScript('<%= asset_path("pdfjs.js") %>').done(function () {
      PDFJS.workerSrc = '<%= asset_path("pdfjs_lib/pdf.worker.js") %>';
      loadPdfFile();
    })
  } else {
    loadPdfFile();
  }

<% else %>
  $('#codeviewer').html(
    "<%= escape_javascript(render partial: 'results/common/text_codeviewer',
                                  locals: { uid: params[:uid],
                                            file_contents: t('submission_file.error.binary_file_message'),
                                            annots: @annots,
                                            code_type: @code_type }) %>");
<% end %>
