<script>
  var invite_modal = null;

  function invite() {
    invite_modal.open();
    document.getElementById('invite_member').value = '';
    document.getElementById('invite_member').focus();
  }

  $(document).ready(function() {
    invite_modal = new ModalMarkus('#invite_dialog');
  });
</script>

<div class='title_bar'>
  <h1>
    <%= t('student.assignment',
        short_identifier: @assignment.short_identifier) %>
  </h1>
</div>

<%= render partial: 'shared/flash_message' %>

<div class='student_columns'>
  <div id='student_column_left'>
    <div class='block'>
      <%= render partial: 'read', locals:{ peer_review: false } %>
    </div>

    <div class='block'>
      <h2><%= t('submissions') %></h2>

      <div class='block_content'>
        <% if !@grouping.nil? %>
          <% if !@grouping.is_valid? %>
            <p class='notice'>
              <%= t('student.group_not_valid') %>
            </p>
          <% end %>
          <h3><%= t('student.overview') %></h3>
          <div class='info'>
            <%= raw(t('student.last_revision_date',
                      last_modified_date: l(@last_modified_date,
                                            format: :long_date))) %>
          </div>
          <span class='info_number'>
            <%= @num_submitted_files.to_s %>
          </span>
          <span class='info'><%= t('student.files') %></span>
          <br>
          <%= raw(t('student.missing_required_files',
                     missing_files: @num_missing_assignment_files.to_s,
                     style_class: ('red' unless @num_missing_assignment_files == 0))) %>
          <br>
        <% else %>
          <p class='notice'><%= t('student.no_submission_yet') %></p>
        <% end %>
      </div>
    </div>
  </div>

  <div id='student_column_right'>
    <div class='block'>
      <h2><%= t('student.group_information') %></h2>

      <div class='block_content'>
        <% # If student has no group, inform them
           if @grouping.nil? %>
          <p class='notice'>
            <%= t('student.no_group_yet') %>.
            <% if @assignment.past_collection_date?(@student.section) %>
              <%= t('assignments.due_date.final_due_date_passed') %>
            <% end %>
          </p>

          <% # Test if the student can form groupings or not
             if !@assignment.student_form_groups %>
            <p>
              <%= t('student.not_allowed_to_form_group') %>
            </p>
          <% end %>

          <% # See if the student has been invited to some group
             if @student.has_pending_groupings_for?(@assignment.id) %>
            <h3><%= t('student.invitations') %></h3>

            <% if flash[:fail_notice] && !flash[:fail_notice].empty? %>
              <div class='notice'>
                <%= flash[:fail_notice] %>
              </div>
            <% end %>

            <% @pending_grouping.each do |grouping|%>
              <div class='sub_block'>
                <p><%= raw(t('student.invited_by',
                             inviter_last_name: grouping.inviter.last_name,
                             inviter_first_name: grouping.inviter.first_name)) %>
                </p>
                <% grouping.student_memberships.includes(:user).each do |member|%>
                  <ul>
                    <%= render partial: 'assignments/member',
                               locals: { member: member,
                                         grouping: grouping } %>
                  </ul>
                <% end -%>

                <%= link_to t(:join),
                            { action: 'join_group',
                              id: @assignment.id,
                              grouping_id: grouping.id },
                            { class: 'button' } %>
                <%= link_to t(:refuse),
                            { action: 'decline_invitation',
                              id: @assignment.id,
                              grouping_id: grouping.id },
                            { class: 'button',
                              data: { confirm: t('student.decline_invitation') } } %>
                </div>
            <% end %>
          <% end %>

          <% # If students are allowed to form groups and
             # the grace period for this assignment has not yet passed,
             # render UI elements for group creation
             if !@assignment.past_collection_date?(@student.section) && @assignment.student_form_groups %>

            <h3><%= t('student.form_own_group') %></h3>
            <p><%= raw(t('student.form_group',
                         group_min: @assignment.group_min,
                         group_max: @assignment.group_max)) %>
            </p>

            <% if @assignment.group_min == 1 %>
              <p>
                <%= link_to t('student.work_alone'),
                            { action: 'creategroup', id: @assignment.id, workalone: 'true' },
                            { class: 'button', data: { confirm: t('student.confirm_work_alone'),
                                                       disable_with: t('student.please_wait') } } %>
              </p>
            <% end %>
            <p>
              <% if @student.has_pending_groupings_for?(@assignment.id)%>
                <%= link_to t(:create),
                            { action: 'creategroup', id: @assignment.id },
                            { class: 'button', data: { confirm: t('student.decline_invitation2'),
                                                       disable_with: t('student.please_wait') } } %>
              <% else %>
                <%= link_to t(:create),
                            { action: 'creategroup', id: @assignment.id },
                            { class: 'button', data: { disable_with: t('student.please_wait') } } %>
              <% end %>
            </p>
          <% end %>
        <% else %>
          <%# Since the student has a group already, we display information about the group only %>
          <%# Check if groupname should be displayed %>
          <h3>
            <% if @assignment.group_name_displayed %>
              <%= @group.group_name %>
            <% else %>
              <%= t("student.your_group") %>
            <% end %>
          </h3>
          <% # Display group properties are read only warning
             # when the due date and grace period (if any) have passed.
             if @assignment.past_collection_date?(@student.section) && @assignment.student_form_groups &&
                !@assignment.invalid_override && @assignment.group_max > 1 %>
            <p class='information'>
              <%= t('student.modification_limited') %>
            </p>
          <% end %>

          <% if flash[:fail_notice] && !flash[:fail_notice].empty? %>
            <div class='notice'>
              <% if flash[:fail_notice].is_a?(Array) %>
                <ul>
                  <% flash[:fail_notice].each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              <% else %>
                <%= flash[:fail_notice] %>
              <% end %>
            </div>
          <% end %>

          <% # If the group does not have the right amount of members yet, display
             # 'group is not valid' warning.
             if !@grouping.is_valid? %>
            <p class='warning'>
              <%= t('student.invite_more_students') %>
            </p>
          <% end %>

          <%# For each member of this group, display name and status %>
          <ul>
            <% @studentmemberships.includes(:user).each do |member|%>
              <%= render partial: 'assignments/member',
                         locals: { member: member,
                                   grouping: @grouping } %>
            <% end %>
          </ul>

          <% # Display the URL of this group's repository if applicable
             if @assignment.vcs_submit %>
            <h3><%= t('student.url_group_repository') %></h3>
            <div class='sub_block'>
              <a href='<%= @grouping.group.repository_external_access_url %>'><%= @grouping.group.repository_external_access_url %></a>
            </div>
          <% end %>
        <% end %>

        <% unless @group.nil? %>
          <div class='group-options'>
            <h3><%= t('student.group_options') %></h3>
            <% if @group.group_name == @current_user.user_name && !@assignment.past_collection_date?(@student.section) && @assignment.group_max > 1 %>
              <p class='information'>
                <%= t('student.working_alone') %>
              </p>
            <% end %>

            <% # Student not reached the group max and is not working alone
               if @grouping.inviter == @current_user &&
                  @assignment.student_form_groups &&
                  !@assignment.past_collection_date?(@student.section) %>
              <% # Student has reached the group max and is not working alone
                 if @grouping.student_membership_number < @assignment.group_max &&
                         @group.group_name != @current_user.user_name %>
                <div class='group-button'>
                  <%= button_tag t(:invite), onclick: 'invite(); return false;' %>
                </div>
              <% elsif @grouping.student_membership_number ==
                         @assignment.group_max &&
                       @group.group_name != @current_user.user_name %>
                <p class='information'><%= t('student.may_not_add_more') %></p>
              <% end %>
            <% else %>
              <p class='information'><%= t('student.may_not_modify') %></p>
            <% end %>

            <% if !@grouping.nil? && @assignment.group_max > 1 &&
                  !@assignment.past_collection_date?(@student.section) &&
                  !@grouping.has_submission? %>
              <% if @grouping.inviter == @current_user &&
                    @grouping.accepted_students.size == 1 %>
                <div class='group-button'>
                  <%= button_to t('student.delete_group'),
                                { action: 'deletegroup',
                                  id: @assignment.id },
                                method: :get,
                                data: { confirm: t('student.confirm_delete_group') }
                                %>
                </div>
              <% else %>
                <p class='information'> <%= t('student.group_not_deletable') %> </p>
              <% end %>
            <% end %>
          </div>
        <% end %>

        <h3><%= t('student.group_properties') %></h3>
        <ul>
          <% if @assignment.section_groups_only && Section.any? %>
            <li><%= t('student.section_groups_only') %></li>
          <% end %>

          <% if @assignment.student_form_groups &&
                !@assignment.invalid_override &&
                @assignment.group_max > 1 %>
            <li><%= t('student.students_can_form_groups') %></li>
            <li>
              <%= raw( t('student.form_group',
                        group_min: @assignment.group_min,
                        group_max: @assignment.group_max)) %>
            </li>
          <% elsif @assignment.invalid_override %>
            <li><%= t('student.invalid_override') %></li>
          <% else %>
            <li><%= t('student.student_work_alone') %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<% # HTML for the invite dialog
   if !@grouping.nil? && @grouping.inviter == @current_user && !@assignment.invalid_override %>
  <aside class='dialog' id='invite_dialog'>
    <%= form_tag({ action: 'invite_member',
                   id: @assignment.id },
                 { onsubmit: "document.getElementById('working').style.display = '';" }) do %>
      <h2><%= t('student.invite') %></h2>
      <p class='information'><%= t(:seperate_multiple_with_commas) %></p>
      <fieldset>
        <span><label for='invite_member'><%= t('user.user_names') %></label></span>
        <%= text_field_tag 'invite_member'%>
      </fieldset>

      <section class='dialog-actions'>
        <%= submit_tag t(:submit) %>
        <input type='reset'
               value='<%= t('cancel') %>'
               onclick="invite_modal.close();
                        document.getElementById('working').style.display = 'none';">
      </section>
    <% end %>
  </aside>
<% end %>
