<% content_for :head do %>
  <%= javascript_include_tag 'file_manager' %>

  <%= render partial: 'shared/navigation_warning',
             formats: [:js],
             handlers: [:erb] %>

  <%= render partial: 'react_file_manager_boot_table',
             formats: [:'js.jsx'],
             handlers: [:erb] %>
<% end %>

<div class='title_bar'>
  <h1>
    <%= t('student.submission.file_manager',
          short_identifier: sanitize(@assignment.short_identifier)) %>
  </h1>
</div>

<div>
  <strong><%= t('server_time') %></strong>
  <span id='current_time'>
    <%= I18n.l(Time.zone.now, format: :long_date)%>
  </span>

  <script>
    window.setInterval(function () {
      $.ajax({
        url: '<%= server_time_assignment_submissions_path(@assignment.id) %>',
        method: 'GET',
        success: function(data) {
          document.getElementById('current_time').innerHTML = data;
        }
      });
    }, 60000);
    </script>
</div>

<div class='wrapper'>
  <% if flash[:submit_notice] -%>
    <p class='success'><%= flash[:submit_notice] %></p>
  <% end %>

  <% if flash[:transaction_warning] %>
    <div class='warning'><%= flash[:transaction_warning] %></div>
  <% end %>

  <% if flash[:success] %>
    <div class='success'><%= flash[:success] %></div>
  <% end %>

  <% if @assignment.submission_rule.can_collect_now?(@grouping.inviter.section) &&
        flash[:commit_notice] != @assignment.submission_rule.commit_after_collection_message %>
    <div class='warning'>
      <%= @assignment.submission_rule.after_collection_message %>
    </div>
  <% else %>
    <% if @assignment.grouping_past_due_date?(@grouping) %>
      <div class='warning'>
        <%= @assignment.submission_rule.overtime_message(@grouping) %>
      </div>
    <% end %>
  <% end %>

  <% if !@file_manager_errors.nil? && @file_manager_errors[:update_conflicts] %>
    <div class='error'>
      <h2><%= I18n.t('student.submission.conflicts') %></h2>
      <p><%= I18n.t('student.submission.file_conflicts') %></p>
      <ul>
        <% @file_manager_errors[:update_conflicts].each do |conflict| %>
          <li><%= conflict.to_s %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if flash[:commit_notice] %>
    <div class='warning'>
      <%= flash[:commit_notice] %>
    </div>
  <% end %>

  <% if !@file_manager_errors.nil? && @file_manager_errors[:commit_error] %>
    <div class='warning'>
      <%= @file_manager_errors[:commit_error] %>
    </div>
  <% end %>

  <% if !@file_manager_errors.nil? && @file_manager_errors[:size_conflict] %>
    <div class='error'>
      <%= @file_manager_errors[:size_conflict] %>
    </div>
  <% end %>

  <% if !@grouping.is_valid? %>
    <div class='error'>
      <%= t(:invalid_group_warning) %>
    </div>
  <% elsif !@missing_assignment_files.nil? && @missing_assignment_files.size > 0 %>
    <div class='warning'>
      <p>
        <%= I18n.t('student.submission.missing_files', file: @missing_assignment_files.size) %>
        <% if @missing_assignment_files.size > 5 %>
          <%= link_to I18n.t('student.submission.toggle_file_list'),
                           'javascript:void(0);',
                           onclick: "$('#missing_assignment_files_list').toggle();"%>
        <% end %>
      </p>

      <ul id='missing_assignment_files_list' <%='style="display:none;"' if @missing_assignment_files.size > 5 %>>
        <% @missing_assignment_files.each do |assignment_file| %>
          <li><%= assignment_file.filename %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @assignment.vcs_submit %>
    <p>
      <%= t('student.submission.current_path') %>
      <%= link_to '[root]', action: 'file_manager', path: '/' %>
      <%
        path_memory = '/'
        @path.split('/').each do |folder|
          if (folder != '')
            path_memory = File.join(path_memory, folder) %>
            <%= link_to(" / #{folder}", action: 'file_manager', path: path_memory).html_safe %>
          <% end
        end
      %>
    </p>
  <% end %>

  <div id='file_table'></div>
</div>

<aside class='dialog' id='addnew_dialog'>
  <h2><%= t('add_new') %></h2>

  <% if @assignment.allow_web_submits && @assignment.vcs_submit %>
    <div class='notice'>
      <%= t('student.submission.version_control_warning') %>
    </div>
  <% end %>

  <%= form_tag update_files_assignment_submissions_path(@assignment.id),
               { multipart: true, id: 'file_form' } do %>
    <%= file_field_tag :new_files, name: 'new_files[]', multiple: true %>
    <%= hidden_field_tag :path, @path %>

    <section class='dialog-actions'>
      <%= submit_tag t(:submit),
                     disabled: !@grouping.is_valid?,
                     onclick: 'set_onbeforeunload(false); submitFile(event)' %>
      <%= button_tag t(:close),
                     type: 'button',
                     onclick: 'set_onbeforeunload(false); modal_addnew.close();' %>
    </section>
  <% end %>
</aside>
