<script>
  $(document).ready(function() {
    // Create the modal dialogs
    modal                     = new ModalMarkus('#annotation_dialog');
    window.modal_create_new   = new ModalMarkus('#create_new_tag');
    window.modal_delete_tags  = new ModalMarkus('#delete_tags');
  });

  <% if @assignment.assign_graders_to_criteria && @current_user.ta? %>
    $(document).ready(function() {
      <% current_user_criteria = @current_user.get_criterion_associations_by_assignment(@assignment)
                                              .map &:criterion %>
      <% @mark_criteria.each do |criterion| %>
        <% if criterion.class == RubricCriterion %>
          var id_prefix = 'mark';
        <% elsif criterion.class == FlexibleCriterion %>
          var id_prefix = 'flexible';
        <% else %>
          var id_prefix = 'checkbox';
        <% end %>
        var criterion_li = document.getElementById(id_prefix + '<%= "_criterion_#{criterion.id}" %>');
        <% if current_user_criteria.include?(criterion) %>
          criterion_li.addClass('assigned');
        <% else %>
          criterion_li.addClass('unassigned');
          $(criterion_li).find('input').prop('disabled', true);
          hide_criterion(<%= criterion.id %>, '<%= criterion.class %>');
        <% end %>
      <% end %>
    });
  <% end %>
</script>
