<div id='panes-content'>
  <div id='panes'>
    <div id='left-pane'>
      <div class='tab-pane flex-pane' id='code_pane'>
        <ul id='code_and_annotations_tabs' class='subsection_tabs'>
           <li><a href='#code_holder'><%= t('marker.source_code') %></a></li>
           <li><a href='#annotations_summary'><%= Annotation.model_name.human.pluralize %></a></li>
          <% if !@result.is_a_review? && assignment.enable_test %>
              <li><a href='#test_result_tab'><%= t('marker.test_results') %></a></li>
          <% end %>
          <% if !@result.is_a_review? && can_show_feedback_files_tab?(submission) %>
              <li><a href='#feedback_file_tab'><%= t('marker.feedback_files') %></a></li>
          <% end %>
           <% if can_show_remark_request_tab_in_marker_pane(submission) %>
              <li><a href='#remark_request_tab'><%= t('marker.remark_request') %></a></li>
           <% end %>
        </ul>

        <div id='code_holder' class='flex-col'>
          <%# For image/PDF annotations %>
          <div id='sel_box'></div>

          <div id='annotation_menu'>

            <%= render partial: 'results/common/file_selector_dropdown',
                       locals: { files: files,
                                 can_download: true } %>
              <% unless @current_user.is_reviewer_for?(@assignment.pr_assignment, @result) %>
                <button id='file_download_button' onclick='modal_download.open(); return false;'>
                  <%= t(:download)%>
                </button>
              <% end %>

            <div id='annotation_options'></div>
          </div>

          <div id='codeviewer' class='flex-col'></div>
        </div>

        <div id='annotations_summary' class='flex-col'>
          <div id='annotations_summary_head'>
            <h3><%= t('marker.overall_comments') %></h3>

            <%= render partial: 'results/marker/overall_comment',
                       locals: { result: old_result ? old_result : result } %>

            <h3><%= Annotation.model_name.human.pluralize %></h3>
            <p><%= t('marker.across_all_submission_files') %></p>
          </div>

          <ul id='annotation_table'></ul>
        </div>

        <% if !@result.is_a_review? && assignment.enable_test %>
          <div id='test_result_tab' style='display:none;'>
            <div id='testviewer' class='block'>
              <%= render partial: 'automated_tests/test_script_results',
                         locals: {results: submission.test_script_results_all_data, submission: submission,
                                  current_user: @current_user, ran_by: 'instructor'} %>
            </div>
          </div>
        <% end %>

        <% if !@result.is_a_review? && can_show_feedback_files_tab?(submission) %>
          <div id='feedback_file_tab' style='display:none;'>

            <div id='feedback_file_selector_menu'>
              <div id='feedback_files_controls'>
                <%= render partial: 'results/common/feedback_file_selector',
                           locals: { feedback_files: feedback_files,
                                     submission_id: submission.id } %>
              </div>
            </div>

            <div id='feedback_file_content'>
            </div>
          </div>
        <% end %>

        <div id='remark_request_tab' style='display:none;'>
          <% if can_show_remark_request_tab_in_marker_pane(submission) %>
            <%= render partial: 'results/marker/remark_request',
                       locals: { result: result,
                                 submission: submission,
                                 assignment: assignment } %>
          <% end %>
        </div>
      </div> <%# Code Pane %>
    </div>

    <div id='drag'></div>

    <div id='right-pane'>
      <div class='tab-pane flex-pane' id='mark_pane'>
        <ul id='mark_tabs' class='subsection_tabs'>
          <li><a href='#mark_viewer'><%= t('marker.marks.marks') %></a></li>
          <li><a href='#summary_viewer'><%= t('marker.marks.summary') %></a></li>
          <% unless @result.is_a_review? %>
            <li><a href='#tag_viewer'><%= t('marker.marks.tags') %></a></li>
          <% end %>
        </ul>

        <div id='mark_viewer' class='flex-col'>
          <div class='mark_tools'>
            <button class='inline-button' id='expand_all'>
              <%= t('marker.marks.expand_all') %>
            </button>
            <button class='inline-button' id='collapse_all'>
              <%= t('marker.marks.collapse_all') %>
            </button>
            <button class='inline-button' id='expand_unmarked'>
              <%= t('marker.marks.expand_unmarked') %>
            </button>
          </div>

          <div id='mark_criteria'>
            <ul id='mark_criteria_pane_list'>
              <%# Also need to render the mark per criteria (if exist) %>
              <% @mark_criteria.each do |mark_criterion| -%>
                <%= render partial: "results/marker/marker_#{mark_criterion.class.to_s.underscore}_li",
                           locals: { mark_criterion: mark_criterion,
                                     result: result,
                                     mark: marks_map[[mark_criterion.class.to_s, mark_criterion.id]],
                                     old_mark: old_marks_map[[mark_criterion.class.to_s, mark_criterion.id]] } %>
              <% end -%>
            </ul>
          </div>
        </div> <%# Criterion Viewer %>

        <div id='summary_viewer' class='marks_summary_pane flex-col'>
          <%= render partial: 'results/marker/marker_summary',
                     locals: { mark_criteria: mark_criteria,
                               marks_map: marks_map,
                               old_marks_map: old_marks_map,
                               assignment: assignment,
                               old_result: @old_result,
                               result: result,
                               extra_marks_points: extra_marks_points,
                               extra_marks_percentage: extra_marks_percentage } %>
        </div>

        <!-- Tag insertion pane. -->
        <% unless @result.is_a_review? %>
          <div id='tag_viewer' class='flex-col'>
            <%= render partial: 'results/marker/tag_summary',
                       locals: { assignment: assignment,
                                 old_result: @old_result,
                                 result: result } %>
          </div>
        <% end %>

        <!-- Annotation pane-->
        <div id='annotation_holder'></div>

        <!-- Modal element -->
        <aside class='dialog' id='annotation_dialog'></aside>

      </div> <!-- Mark pane -->
    </div>
  </div>
</div>
