<% if @annotation.is_a?(TextAnnotation) %>
  add_annotation_text('<%= @text.id %>', marked('<%= @text.escape_newlines %>', {sanitize: true}));
  add_annotation('<%= @annotation.id %>',
                 { start: '<%= @annotation.line_start %>',
                   end: '<%= @annotation.line_end %>',
                   column_start: '<%= @annotation.column_start %>',
                   column_end: '<%= @annotation.column_end %>'},
                 '<%= @text.id %>');
<% elsif @annotation.is_a?(ImageAnnotation) %>
  add_annotation_text('<%= @text.id %>', marked('<%= @text.escape_newlines %>', {sanitize: true}));
  add_to_annotation_grid('<%= @annotation.extract_coords.to_json().html_safe %>');
<% elsif @annotation.is_a?(PdfAnnotation) %>
  add_pdf_annotation('<%= @text.id %>',
                     marked('<%= @text.escape_newlines %>', {sanitize: true}),
                     '<%= @annotation.extract_coords.to_json().html_safe %>');
<% end %>

annotationTable.addAnnotation({
  id: <%= @annotation.id %>,
  file: '<%= File.join(@annotation.submission_file.path,
                       @annotation.submission_file.filename) %>',
  submission_file_id: '<%= @annotation.submission_file_id %>',
  content: '<%= @annotation.annotation_text.escape_newlines %>',
  annotation_category: '<%= @annotation.annotation_text
                                       .annotation_category
                                       &.annotation_category_name %>',
  type:' <%= @annotation.class.name %>',
  number: <%= @annotation.annotation_number %>,
  line_start: <%= @annotation.line_start || 'null' %>,
  is_remark: <%= @annotation.is_remark %>
});

hide_all_annotation_content_editors();
reloadDOM();
