@charset "UTF-8";

@import 'reset';
@import 'constants';
@import 'mixins';

/** Main */

body {
  background-color: $lighter-blue;
  color: $dark-grey;
  font: 400 0.8em/1.2em $fonts;
  transition: background-color $time-quick;

  @include breakpoint(tiny) {
    background-color: $white;
  }
}

::selection {
  background-color: $blue;
}


/** Code */
pre,
.code {
  font: 14px/20px $mono-fonts;
}


/** Headings */

h1 {
  font: 300 2.5em $fonts;
  margin: 0;
}

h2 {
  font: 300 2em $fonts;
  margin: 0;
}

h3 {
  font: 400 1.5em $fonts;
  margin: 0;
}

h4 {
  font: 600 1em $fonts;
  margin: 0;
}


/** Paragraphs */

p + p {
  margin-bottom: 1.125em;
}


/** Links */

a {
  color: $dark-blue;
  cursor: pointer;
  text-decoration: none;
  transition: color $time-quick;

  &:hover {
    color: $blue;
  }
}

strong a {
  font-weight: 600;
}


/** Alert messages */

.alert {
  border-radius: $radius;
  display: block;
  margin-bottom: 1em;
  padding: 0.25em 0.5em 0.25em 2em;
  width: 100%;
}

.error {
  @extend .alert;
  background: $light-red url('icons/exclamation.png') no-repeat 5px center;
  border: 1px solid $red;
}

.error.hidden {
  background: none;
}

.warning {
  @extend .alert;
  background: $light-yellow url(icons/error.png) no-repeat 5px center;
  border: 1px solid $yellow;
}

.success {
  @extend .alert;
  background: $light-green url(icons/accept.png) no-repeat 5px center;
  border: 1px solid $green;
}

.information {
  @extend .alert;
  background: $light-grey url(icons/information.png) no-repeat 5px center;
  border: 1px solid $grey;
}

.notice {
  @extend .alert;
  background: $light-grey url(icons/information.png) no-repeat 5px center;
  border: 1px solid $grey;
}


/** Text field inputs */

input,
textarea {
  background: lighten($light-grey, 10%);
  border: 1px solid $grey;
  border-radius: $radius;
  color: $dark-grey;
  font: 400 1em $fonts;
  outline: none;
  padding: 0.25em 0.75em;
  transition: all $time-quick;
  width: 100%;

  &:hover {
    background-color: $white;
    border-color: $dark-blue;
  }

  &:focus {
    background-color: $white;
    border-color: $blue;
  }

  &[disabled] {
    background-color: $disabled-grey;
    border-color: $disabled-dark;
    color: $disabled-dark;
  }

  &.large-text {
    padding: 1em 1.15em;
  }
}

textarea {
  resize: none;
}

select {
  background: none;
  border: 1px solid $light-blue;
  border-radius: $radius;
  font-family: $fonts;
  margin: 5px;
  padding-left: 5px;
}


/** Buttons */

input[type='button'],
input[type='submit'],
input[type='reset'],
button,
.button {
  background: linear-gradient(to bottom, $white, $light-grey);
  border: 1px solid $blue;
  border-radius: $radius;
  box-shadow: inset 0 -1px 0 $grey;
  color: $dark-grey;
  cursor: pointer;
  display: inline-block;
  font: 400 1em $fonts;
  min-width: 150px;
  outline: none;
  padding: 0.5em 1.5em;
  text-align: center;
  text-shadow: 0 1px 0 $white;
  transition: all $time-quick;

  &:hover {
    border-color: $dark-blue;
    box-shadow: inset 0 -1px 0 $grey, 0 1px 0 $light-grey;
    color: $dark-blue;
    top: 1px;
  }

  &:focus {
    box-shadow: inset 0 -1px 0 $grey, 0 0 3px $blue;
  }

  &:active {
    background: linear-gradient(to bottom, $light-grey, $white);
    box-shadow: none;
    color: $dark-blue;
  }

  &[disabled] {
    background: linear-gradient(to bottom, $light-grey, $disabled-grey);
    border-color: $disabled-dark;
    box-shadow: none;
    color: $disabled-dark;
  }

  &.large-button {
    min-width: 200px;
    padding: 0.75em 2em;
  }

  &.inline-button {
    min-width: 100px;
    padding: 0.25em 1em;
  }
}


/** Fieldset */

fieldset {
  background: $white;
  border-radius: $radius;
  box-shadow: 0 3px 0 $grey;
  padding: 0.25em 1.5em 1.5em;
  position: relative;

  legend {
    border: none;

    & > span {
      @extend h3;
      padding: 0 0.25em;
    }
  }

  // Fieldsets within fieldsets
  fieldset {
    border: none;
    border-radius: 0;
    border-top: 1px solid $grey;
    box-shadow: none;
    padding: 0;

    legend {
      width: 100%;

      & > span {
        display: block;
        padding-top: 0.5em;
        position: relative;
        top: 1em;
      }
    }
  }
}


/** Tables */

.table {
  border-left: 1px solid $grey;
  border-right: 1px solid $grey;
  overflow-x: auto;
  width: 100%;

  table {
    border-top: 1px solid $grey;
    width: 100%;

    thead,
    tfoot {
      background-color: $light-grey;
      font-weight: 600;
      text-align: left;
      text-transform: uppercase;

      .sortable-col {
        background: url(sort_both.png) no-repeat center right;
      }

      .asc,
      .desc {
        cursor: pointer;
      }

      .asc {
        background: url(sort_asc.png) no-repeat center right;
      }

      .desc {
        background: url(sort_desc.png) no-repeat center right;
      }
    }

    thead {
      border-bottom: 2px solid $grey;
    }

    tfoot {
      border-top: 2px solid $grey;
    }

    tr {
      border-bottom: 1px solid $grey;

      th,
      td {
        border-right: 1px solid $grey;
        padding: 0.5em 1.5em 0.5em 1em;
        vertical-align: middle;

        &:last-child {
          border-right: none;
        }
      }
    }

    tbody {
      .test-result-pass {
        background-color: #caffc9 !important;
      }

      .test-result-partial {
        background-color: #ffffc9 !important;
      }

      .test-result-fail {
        background-color: #ffcac9 !important;
      }

      .test-result-error {
        background-color: #ff7a77 !important;
      }

      tr {
        transition: background-color $time-quick;

        &:nth-child(odd) {
          background-color: $white;
        }

        &:nth-child(even) {
          background-color: $light-grey;
        }

        &:hover {
          background-color: $lighter-blue;
        }
      }
    }
  }
}

/** Sortable lists */

.sortable {
  background: $white;
  border: 1px solid $grey;
  border-radius: $radius;
  user-select: none;

  header {
    border-bottom: 1px solid $grey;
    border-radius: $radius $radius 0 0;
    font-weight: 600;
    padding: 0.5em;
    text-align: left;
    text-transform: uppercase;
  }

  .right {
    min-width: 16%;
    min-height: 33%;
  }

  .left{
    float: left;
    min-width: 55%;
    min-height: 33%;
  }

  .center{
    display: inline-block;
    min-width: 27%;
    min-height: 33%;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      background: url(handle@2x.png) 0.5em center no-repeat;
      background-size: 12px 20px;
      border-top: 1px solid $grey;
      list-style: none;
      min-height: 2.5em;
      padding: 0.5em 0.5em 0.5em 2em;
      transition: background-color $time-quick;

      &:hover {
        background-color: $lighter-blue;
      }

      &:last-child {
        border-radius: 0 0 $radius $radius;
      }
    }
  }
}

/** Tab pane */

.tab-pane {
  background: $light-grey;
  border: 1px solid $blue;
  border-radius: $radius;
  padding: 0;

  > ul {
    margin: 0;
    padding: 0;

    li {
      background: $light-blue;
      border-radius: $radius $radius 0 0;
      display: inline-block;
      list-style: none;

      a {
        border-radius: $radius $radius 0 0;
        display: inline-block;
        outline: none;
        padding: 0.25em 1.5em;
      }

      &.ui-tabs-active {
        background: $white;

        a {
          color: $dark-grey;
        }
      }
    }
  }

  .ui-tabs-panel {
    background: $white;
    border-radius: 0 0 $radius $radius;
    padding: 0;
  }
}


/** Tags */

ul.tags {
  display: block;
  height: auto;
  margin: 0;
  padding: 0;

  & > li {
    background: $grey;
    border: 1px solid $grey;
    border-radius: $radius;
    color: $white;
    cursor: pointer;
    display: block;
    font-size: 0.9em;
    float: left;
    list-style: none;
    margin-right: 0.5em;
    padding: 0 0.6em;
    position: relative;
    text-transform: uppercase;
    transition: all $time-quick;

    &:hover {
      background: $white;
      border: 1px solid $blue;
      border-radius: 0;
      color: $dark-blue;

      ul {
        display: block;
      }
    }

    ul {
      background: $white;
      border: 1px solid $blue;
      border-radius: 0 0 $radius $radius;
      display: none;
      left: -1px;
      padding: 0;
      position: absolute;
      width: 340px;
      z-index: 9000;

      li {
        color: $dark-grey;
        list-style: none;
        text-transform: none;

        a {
          color: $dark-grey;
          display: block;
          padding: 0.4em 0.5em;

          &:hover {
            color: $white;
          }
        }

        &:hover {
          background: $blue;
        }
      }
    }
  }
}


/** Dialog modal windows */

.dialog {
  background: $white;
  border-radius: $radius;
  box-shadow: 0 0 10px $grey;
  max-width: 100%;
  padding: 2.5em 1.5em;
  z-index: 10000;

  .dialog-actions {
    text-align: center;
    margin-top: 1.5em;

    button {
      margin: 0.5em;
    }

    div,
    input {
      display: inline-block;
    }
  }
}


/** Menus */

nav {
  ul {
    margin: 0;
    padding: 0;

    li {
      border-radius: $radius $radius 0 0;
      display: inline-block;
      text-align: center;
      vertical-align: bottom;

      a {
        border-radius: $radius $radius 0 0;
        display: block;
        height: 3em;
        line-height: 3em;
        min-width: 11em;
        padding: 0 1em;
      }
    }
  }

  ul.main,
  ul.sub_sub {
    border-bottom: 2px solid $blue;

    li:hover,
    .active {
      background-color: $blue;
      color: $white;
      transition: background-color $time-quick;

      a {
        color: $white;
      }
    }
  }

  ul.sub {
    background-color: $blue;
    border-bottom: 2px solid $white;
    min-height: 3em;

    li:hover,
    .active {
      background-color: $white;
      color: $dark-blue;
      transition: background-color $time-quick;

      a {
        color: $dark-blue;
      }
    }

    a {
      color: $white;
    }
  }

  ul.sub_sub {
    background-color: $white;
  }
}


/** Dropdown menu */

.dropdown {
  background: $white;
  border: 1px solid $dark-blue;
  border-radius: $radius;
  cursor: pointer;
  display: inline-block;
  min-width: 200px;
  padding: 0.5em;
  position: relative;
  text-align: center;

  &:hover {
    border-radius: 0;

    ul {
      display: block;
    }
  }

  .arrow_down {
    width: 0;
    height: 0;
    margin-top: 3px;
    margin-right: 3px;
    border-left: 7.5px solid transparent;
    border-right: 7.5px solid transparent;
    border-top: 7.5px solid $dark-blue;
    float: right;
  }

  ul {
    background: $white;
    border: 1px solid $dark-blue;
    border-radius: 0 0 $radius $radius;
    display: none;
    left: -1px;
    margin: 0;
    min-width: 200px;
    padding: 0;
    position: absolute;
    text-align: left;
    top: 1.95em;
    z-index: 100000;

    li {
      display: block;
      list-style: none;
      text-align: left;

      &:last-child {
        border-radius: 0 0 $radius $radius;
      }
    }

    li.section {
      padding: 0.25em;
    }

    li:not(.section) {
      transition: all $time-quick;

      &:hover,
      &.active {
        background: $blue;
        color: $white;
      }

      &.active {
        padding: 0.5em 1em;
      }

      a {
        display: block;
        padding: 0.5em 1em;

        &:hover {
          color: $white;
        }
      }
    }

    .section {
      font-size: 0.9em;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}
