@import 'common/core';
@import 'common/tags';
@import 'common/notes_dialog';


/* Annotations */

.annotation_text_display {
  background: #f6f6f6;
  border: 1px solid $grey;
  border-radius: $radius;
  max-width: 400px;
  padding: 0.25em 1em;
  position: absolute;
  width: auto;
  z-index: 100000;
  word-wrap: break-word;
}

/* Peer Review Styles */

#peer_reviews {
  display: block;
  width: 100%;
  padding-bottom: 10px;
}

#peer_review_selector_label {
  float: left;
  font-size: 14px;
  margin-top: 13px !important;
}

#peer_review_selector {
  margin-top: 7px;
  margin-left: 20px;
}

#original_result_link {
  margin-left: 20px;
  font-size: 14px;
}


/* Top toolbars: student selector/file selector/download buttons */

#student_selector {
  display: table;
  margin: 0;
  padding: 2px 10px;
  width: 100%;

  #criterion_incomplete_error {
    display: table-row;
  }

  #student_selector_controls {
    display: table-row;
  }

  .left,
  .middle,
  .right {
    display: table-cell;
  }

  .left {
    text-align: left;
    width: 20%;
  }

  .middle {
    text-align: center;
    width: 60%;
  }

  .right {
    text-align: right;
    width: 20%;
    float: none;
  }
}

.nested-submenu > .nested-folder {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
}

.nested-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}


/* Download Files Modal */

#download_file_selector {
  border-radius: $radius;
  display: inline-block;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  line-height: 16.25px;
}

#download_button {
  display: inline-block;
  float: right;
  margin-top: 8px;
  margin-left: 10px;
}

#download_all_files_button {
  display: block;
  margin: auto;
}

.download_file {
  .inline_label {
    margin-left: 0.5em;
  }
}

#include_annotations {
  margin-right: 0.5em;
  float: left;
}

#annotations_options {
  display: block;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-left: 110px;
}

#download_files_dialog {
  top: 17% !important;
}


/* Panes content (for controlling the heights) */

#mark_viewer,
#summary_viewer,
#submission_rule_viewer,
#codeviewer,
#testviewer,
#annotations_summary,
#feedback_file_content {
  border-radius: 0 0 $radius $radius;
  overflow: auto;
}

#codeviewer,
#testviewer,
#mark_viewer,
#summary_viewer,
#annotations_summary,
#remark_request_tab,
#feedback_file_content {
  height: 650px;
}

#annotations_summary {
  padding: 0 0.5em;
}


/* Source code pane */

// Adjusted height for users that also see the annotation menu
#annotation_menu + #codeviewer {
  height: 600px;
}

.image_container {
  overflow: auto;
  width: auto;
}

#sel_box {
  border: 1px dashed #f00;
  display: none;
  position: absolute;
}

.annotation_holder {
  background: orange;
  border: 1px solid #000;
  cursor: crosshair;
  opacity: 0.2;
  position: absolute;
}

.code_scroller {
  margin: 0;
  overflow: auto;
  padding-left: 50px !important;
}

.dp-highlighter {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .annotation_highlighted_text {
    background-color: #f99;
    color: $dark-grey;
  }

  .annotation_highlighted_text_overlap {
    background-color: #dd5;
    color: $dark-blue;
  }

  ol {
    flex-grow: 1;
  }
}


/* Annotation dialog - for creating or editing new annotations */

#annotation_dialog {
  padding-top: 1.5em;

  textarea#new_annotation_content {
    height: 175px;
    margin-top: 1em;
    width: 100%;
    padding: 10px;
  }
}

/* Annotations menus */

#annotation_menu, #file_selector_menu, #feedback_file_selector_menu {
  background: #b7d3ec;
  border-radius: $radius $radius 0 0;
  display: table;
  margin: 0;
  padding: 0.5em;
  width: 100%;
}

#annotation_options {
  display: block;
  float: left;
}

#file_download_button {
  float: left;
  margin: 0 1em 0 0;
}

#new_annotation_button {
  display: table-cell;
  color: $grey;
  text-shadow: none;
  text-transform: uppercase;
  border: none;
  background: $white;
  font-weight: normal;
  margin: 0 0.5em 0 0;
  min-width: 0;
  vertical-align: top;
  float: left;
  font-size: 1em;
  padding: 0.2em 0.5em;
  margin-top: 4px;
  box-shadow: none;
}

#annotation_categories {
  display: table-cell;
  float: left;
  padding-top: 7px;
}

.file_selector {
  background: $light-grey;
  border-radius: $radius;
  display: table-cell;
  vertical-align: top;
  float: left;
  line-height: 16.25px;
}

.file_selector {
  margin-right: 1em;

  @include breakpoint(mobile) {
    margin-bottom: 1em;
  }

  select {
    background: $white;
  }

  #next_button,
  #back_button {
    min-width: 0;
  }
}

li.annotation_category {
  margin-bottom: 0.25em;
}

ul.annotation_text_list {
  background: $white !important;
  border: 1px solid #aaa;
  border-radius: 0 0 $radius $radius;
  height: auto;
  margin: 0;
  overflow: auto;
  padding: 0;
  position: absolute;
  left: -0.65em !important;
  width: 300px;

  li {
    background: $white !important;
    border-radius: 0 !important;
    padding: 0.5em 0.25em;
    width: 100%;

    &:hover {
      background: $blue !important;
      color: $white;
      cursor: pointer;
    }

    &:last-child {
      border: 0;
      border-radius: 0 0 $radius $radius;
    }
  }
}


/* Annotations pane */

#annotations_summary_head {
  padding: 0.5em 0;

  textarea#overall_comment_text_area {
    margin: 1em 0;
    width: 100%;
  }
}

/* MathJAX previews */

#annotation_preview, #overall_comment_preview, #overall_remark_comment_preview {
  margin: 1em 0 20px 0;
  border: 1px dashed $grey;
  padding: 0 10px;
  min-height: 43px;
  max-height: 15em;
  overflow-y: scroll;
}

#annotation_preview {
  width: 450px;
}

/* Remark request pane */

#remark_request {
  padding: 1em;

  h3 + h3 {
    margin: 1em 0 0.5em;
  }

  textarea {
    margin-bottom: 1em;
    width: 100%;
  }
}


/* Marks pane */

#mark_criteria_pane_list {
  font-size: 10px;
  list-style: none;
  margin: 0;
  padding-top: 10px;
  width: 100%;

  li {
    border-bottom: 1px solid lightgrey;
    border-radius: 0;
    padding: 5px;
    width: 100%;
    background: $white;
    display: inline-block;
  }

  table tr {
    cursor: pointer;
  }

  .assigned {
    border: 3px solid $green;
  }

  .unassigned {
    background: $light-grey;
  }
}

.mark_tools {
  margin: 1em 0;
  text-align: center;
}

// /* ================ CRITERION STYLES ============== */
// #old_summary_criteria_pane {
//   display: none;
// }

//   .mark_criterion_title {
//     cursor: pointer;
//   }

//   .mark_criterion_holder_selected,
//   .mark_level {
//     background: #ccf;
//   }

// .mark_criterion_level {
//   background: none;
//   color: #000;
//   font-size: 0.625em;
// }

.mark_reset {
  background: none;
  color: #000;
  cursor: pointer;
  float: right;
  font-size: 0.625em;
}

.mark_criterion_level_selected,
.rubric_criterion_level_selected {
  background-color: $light-green;
}

.mark_criterion_level_container {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;

  table {
    background: #fff;
    border: 1px solid #dadada;
    border-collapse: collapse;
    padding: 4px;
    width: 100%
  }

  td {
    border-bottom:1px solid #dadada;
    border-top:1px solid #dadada;
    font-size: 1.1em;
    padding: 4px;
  }

}

.mark_criterion_level_released_container {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;

  table {
    background: #fff;
    border: 1px solid #dadada;
    border-collapse: collapse;
    padding: 4px;
    width: 100%
  }

  td {
    border-bottom:1px solid #dadada;
    border-top:1px solid #dadada;
    font-size: 1.1em;
    padding: 4px;
  }
}

.editing {
  background: #f9ffb1;
  border: 1px dashed #d6de78;
}

#selected_criterion_name {
  font-weight: bold;
}

/* Rubric Criterion Styles */

.rubric_criterion {

  &.expanded {
    .rubric_criterion_level {
      display: inline-block;
    }
  }

  &.not_expanded {
    .rubric_criterion_level {
      display: none;
    }

    .rubric_criterion_level_old_mark {
      display: inline-block;
    }
  }

  .description {
    width: 82%;
    float: left;
  }

  .mark {
    float: right;
    font-weight: bold;
    margin-left: 15px;
    margin-right: 10px;
  }

  .rubric_criterion_level {
    background: $white;
    width: 100%;
  }

  .rubric_criterion_level_old_mark {
    background: #fdfebc;
    width: 100%;
  }

  .title_div_level {
    padding-top: 2px;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 5px;
    padding-left: 20px;
    cursor: pointer;
  }

  .criterion_expand {
    float: left;
    font-size: 1.2em;
    width: 1em;
    cursor: pointer;
    padding-top: 3px;
  }

  .criterion_link {
    padding: 0.25em 0em !important;
  }
}

.rubric_criterion.assigned + .rubric_criterion.assigned {
  margin-top: -2px;
}

/* Flexible Criterion Styles */

.flexible_criterion {

  .criterion_expand {
    float: left;
    cursor: pointer;
    font-size: 1.2em;
    width: 1em;
    padding-top: 2px;
    height: 20px;
  }

  &.expanded {
    .criterion_info {
      display: block;
    }
  }

  &.not_expanded {
    .criterion_info {
      display: none;
    }
  }

  .unexpandable {
    .criterion_expand {
      visibility: hidden;
      cursor: auto !important;
    }

    .title_div_level {
      cursor: auto !important;
    }
  }

  .criterion_info {
    padding-left: 26px;
    padding-bottom: 5px;
    margin-left: 5px;
    float: left;
    clear: both;
  }

  .title_div_level {
    font-size: 12px;
    float: left;
    padding-right: 10px;
    font-weight: bold;
    padding-bottom: 6px;

    &.released {
      padding-left: 15px;
    }

    &.unreleased {
      cursor: pointer;
    }
  }

  .mark_flexible {
    font-weight: bold;
    font-size: 11px;
    float: right;
    padding-right: 14px;

    .mark_grade_input{
      font-size: 1em;
      margin: 1px 1px 4px;
      margin-right: 6px;
      min-width: 0;
      padding: 2px;
    }
  }

  .old_mark {
    font-size: 11px;
    float: right;
    padding-right: 10px;

    &.old_mark_unreleased {
      padding-top: 4px;
    }
  }

  .mark_grade_input {
    &.remarked {
      background-color: #81d881;
    }

    &.not_remarked:not([disabled]) {
      background-color: white;
    }
  }

}

/* Checkbox Criterion Styles */

.checkbox_criterion {

  .criterion_expand {
    float: left;
    cursor: pointer;
    font-size: 1.2em;
    width: 1em;
    padding-top: 2px;
    height: 20px;
  }

  &.expanded {
    .criterion_info {
      display: block;
    }
  }

  &.not_expanded {
    .criterion_info {
      display: none;
    }
  }

  .unexpandable {
    .criterion_expand {
      visibility: hidden;
      cursor: auto !important;
    }

    .title_div_level {
      cursor: auto !important;
    }
  }

  .criterion_info {
    padding-left: 26px;
    padding-bottom: 5px;
    margin-left: 5px;
    float: left;
    clear: both;
  }

  .title_div_level {
    font-size: 12px;
    float: left;
    padding-right: 10px;
    font-weight: bold;
    padding-bottom: 6px;

    &.released {
      padding-left: 15px;
    }

    &.unreleased {
      cursor: pointer;
    }
  }

  .mark_checkbox {
    font-weight: bold;
    font-size: 11px;
    float: right;
    padding-top: 4px;

    .mark_grade_input_checkbox {
      font-size: 1em;
      margin: 1px 1px 4px;
      min-width: 0;
      padding: 2px;
    }
  }

  .old_mark {
    font-size: 11px;
    float: right;
    padding-right: 10px;

    &.old_mark_unreleased {
      padding-top: 4px;
    }
  }

  .mark_grade_input {
    &.remarked {
      background-color: #81d881;
    }

    &.not_remarked:not([disabled]) {
      background-color: white;
    }
  }

  .checkbox_radio_button_container {
    padding-left: 8px;
    padding-right: 16px;
  }
}

/* Submission Rule Pane */

.submission_rule_pane {
  border: none;
  margin-top: 1.5em;
  margin-bottom: 2em;
}

.submission_rule_label, .bonus_deduction {
  background-color: #cee3ea;
  padding: 3px 3px 3px 3px;
}

#submission_rule_viewer {
  padding: 3px 3px 3px 3px;
}

/* Extra Mark holder */

.extra_mark_holder,
.link {
  background: #fbfbfb;
  border-bottom: 1px solid #dadada;
  min-width: 5px;
  padding: 5px;
}

  // .extra_mark_title_div {
  //   cursor: pointer;
  // }

  // .extra_mark_holder_selected {
  //   background: #ccf;
  // }

  // .extra_mark_delete {
  //   float: right;
  // }

  .extra_marks_pane {
    border: none;
    margin-top: 1em;
  }

  .extra_marks_pane_list {
    tbody + tbody {
      tr {
        background: $white !important;
      }
    }

    #add_extra_mark_prompt {
      div {
        margin-bottom: 0.5em;
      }

      label {
        display: inline-block;
        min-width: 25%;
      }
    }
  }

  #extra_marks_bonus,
  #extra_marks_deducted {
    text-align: right;
  }


/* Summary pane */

.summary_block {
  border: none;
  text-align: right;
  line-height: 1.6em;
  margin: 0.25em 0.25em 1.5em;
  padding: 5px;
}

.extra_marks_pane_list,
.extra_percentage_pane_list,
.summary_criteria_pane_list {
  margin: 0;
  padding: 0;
  width: 100%;

  thead {
    border-bottom: 1px solid $light-grey;
  }

  th {
    background: transparent;
    padding: 0.75em 0.25em;
    text-align: left;
    width: 83%;

    &:last-of-type{
      text-align: right;
    }
  }
  th+th {
    width: auto;
  }

  tr {
    &:nth-child(even) {
      background: $light-grey;
    }

    &:nth-child(odd) {
      background: $white;
    }

    td {
      padding: 0.75em 0.25em;
      width: 83%;

      &:last-of-type {
        text-align: right;
      }
    }
    td+td {
      width: auto;
    }
  }
}

.mark_subtotal {
  font-weight: 600;
  padding: 10px 20px;
}

.mark_total {
  background: $light-grey;
  border: 1px solid $grey;
  border-radius: $radius;
  font-weight: 600;
  margin: 1em 0;
  padding: 10px;

  .final_mark {
    float: right;
    font-size: 1.5em;
    font-style: italic;
  }
}

.padding_left {
  padding-left: 30px;
}

.padding_left_old {
  padding-left: 30px;
  background-color: #fdfebc;
}


/* Submission rule pane */

#submission_rule_viewer h3 {
  margin-bottom: 0px;
}

/* Tag pane */

#tag_viewer {
  margin-bottom: 1em;
}

.tag_collector_pane {
  background: $light-grey;
  border: 1px solid $grey;
  border-radius: $radius;
  font-weight: 600;
  margin: 1em 0;
  padding: 10px;

  .tag_list {
    font-weight: 400 !important;
    line-height: 200%;
    padding-top: 5px;
    text-align: center;
  }
}

.tag_summary {
  font-weight: 600;
  padding-bottom: 10px;

  .top_tag_list {
    line-height: 2;
    padding-top: 5px;
    text-align: center;

    .tag_line:nth-child(odd) {
      background-color: $light-grey;
    }
  }
}

.tag_admin {
  text-align: center;
}

/* Resizable column panes */

.flex-pane {
  display: flex;
  flex-direction: column;
  height: 100%
}

.flex-col {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#panes-content {
  display: flex;
  flex-grow: 1;
  margin-top: 0.5em;
  width: 100%;

  #panes {
    display: flex;
    width: 100%;

    @include breakpoint(small) {
      display: block;
    }
  }

  #left-pane,
  #drag,
  #right-pane {
    margin: 0;
    padding: 0;
    vertical-align: top;
  }

  #left-pane,
  #right-pane {
    overflow: auto;

    @include breakpoint(small) {
      display: block;
      float: none;
      width: 100% !important;
    }
  }

  #left-pane {
    width: 70%;
    margin-right: 3px;

    @include breakpoint(small) {
      margin-bottom: 1em;
      padding-right: 0;
    }
  }

  #right-pane {
    width: 29.5%;
    margin-left: 3px;

    @include breakpoint(small) {
      padding-left: 0;
    }
  }

  #drag {
    background: #ccc;
    cursor: col-resize;
    height: 50%;
    overflow: hidden;
    position: absolute;
    margin: 5px 1px;
    width: 4px;

    @include breakpoint(small) {
      display: none;
    }
  }
}
