<meta charset='UTF-8'>
<meta http-equiv='X-UA-Compatible' content='IE=Edge'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<%= csrf_meta_tags %>
<%= stylesheet_link_tag 'OpenSans', params[:controller], media: 'all' %>
<%= favicon_link_tag 'favicon.ico' %>
<%= javascript_tag "const AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?%>
<%# stylesheet_link_tag 'https://unpkg.com/react-table@latest/react-table.css' %>
<%= stylesheet_link_tag 'react-table.css' %>
